// メディアクエリ
$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'md': 'screen and (max-width: 900px)',
  'lg': 'screen and (min-width: 769px)',
) !default;
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// @include flex(center, center);
@mixin flex($justify-content: unset, $align-items: unset) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

// @include absolute(int, int, int, int);
@mixin absolute($top: unset, $left: unset, $bottom: unset, $right: unset) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}
